{% extends 'base.html.twig' %}

{% block body %}
<div id="fh5co-main">
    <div class="fh5co-gallery">
        <div class="col-lg-offset-1">
            <h1>Photo</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ photo.id }}</td>
                        <td>{{ photo.path }}</td>
                        <td>
                            {{ form_start(delete_form) }}
                            <input class="btn btn-danger" type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ path('photo_index') }}"><button class="btn btn-info">Retour à la liste</button></a>
        </div>
    </div>
</div>
{% endblock %}
